// Proxima Nova Condensed

@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../fonts/proxmia-nova-condensed/proximanovacond-regular.eot');
    src: url('../fonts/proxmia-nova-condensed/proximanovacond-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxmia-nova-condensed/proximanovacond-regular.woff') format('woff'),
         url('../fonts/proxmia-nova-condensed/proximanovacond-regular.ttf') format('truetype'),
         url('../fonts/proxmia-nova-condensed/proximanovacond-regular.svg#proximanovacond-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url("../fonts/proxmia-nova-condensed/proximanovacond-bold-webfont.eot");
    src: url("../fonts/proxmia-nova-condensed/proximanovacond-bold-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/proxmia-nova-condensed/proximanovacond-bold-webfont.woff") format('woff'),
         url("../fonts/proxmia-nova-condensed/proximanovacond-bold-webfont.ttf") format('truetype'),
         url("../fonts/proxmia-nova-condensed/proximanovacond-bold-webfont.svg") format('svg');
    font-weight: bold;
    font-style: normal;
}


// Aviner LT STD

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Book.eot');
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Book.woff2') format('woff2'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Book.woff') format('woff'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Book.ttf') format('truetype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Book.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Roman.eot');
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Roman.woff') format('woff'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.eot');
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.woff') format('woff'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.ttf') format('truetype'),
         url("../fonts/avenir-lt-std/AvenirLTStd-Heavy.svg") format('svg');
    font-weight: bold;
    font-style: normal;
}
