<div class="row column">

    <h1>News and Events</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h3 class="headline--underline">Financial Releases</h3>

    <table class="table--feed">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Date</td>
                            <td>Aug 8, 2016</td>
                        </tr>
                        <tr>
                            <td>
                                Title
                            </td>
                            <td>
                                <a href="#">RPX to Present at the Pacific Crest Global Technology Leadership Forum</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Date</td>
                            <td>Aug 2, 2016</td>
                        </tr>
                        <tr>
                            <td>
                                Title
                            </td>
                            <td>
                                <a href="#">RPX Announces Second Quarter 2016 Financial Results</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a href="">View all financial releases &raquo;</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
