<div class="row column">

    <h1>News and Events</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h3 class="headline--underline">Investor Events</h3>

    <table class="table--feed">
        <tbody>
            <tr>
                <td>
                    <p class="table-paragraph">
                        Details on upcoming events are not yet available. Please <a href="/investor-information-request.html" class="inventus-orange">click here</a> to be notified of all upcoming events.
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a href="">View all archived events &raquo;</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<div class="row column">

    <a class="anchor" id="presentations"></a>

    <h3 class="headline--underline">Investor Presentations</h3>

    <table class="table--feed">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Date</td>
                            <td>Jul 1, 2016</td>
                        </tr>
                        <tr>
                            <td>
                                Title
                            </td>
                            <td>
                                <a href="#" class="pdf-link">RPX Corporation Investor Presentation</a> 932.2 KB
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
