<div class="row column">

    <h1>News and Events</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h3 class="headline--underline">News Releases</h3>

    <table class="table--feed">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Date</td>
                            <td>Aug 8, 2016</td>
                        </tr>
                        <tr>
                            <td>
                                Title
                            </td>
                            <td>
                                <a href="#">RRPX Releases 2015 NPE Activity: Highlights Report</a><br /> Findings Show NPE Litigation Activity Rebounded in 2015
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Date</td>
                            <td>Aug 2, 2016</td>
                        </tr>
                        <tr>
                            <td>
                                Title
                            </td>
                            <td>
                                <a href="#">RPX Corporation To Acquire Inventus Solutions</a><br /> Acquisition of a Leading Discovery Management Company Furthers RPX&rsquo;s Vision of Utilizing Data to Reduce Costs, Risk
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a href="">View all news releases &raquo;</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
