<div class="row column">

    <h1>Investor Resources</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h2>Email Alert Subscription</h2>

    <p>
        You may automatically receive RationalX Corp financial information by email. Please enter your preferences for email notifications below and click &ldquo;Continue&rdquo; to enter your contact information on the next page. If you have already signed up and would
        like to review your subscription, <a href="/login.cfm" class="inventus-orange">click here</a>.
    </p>

    <form class="form--email-sign-up">
        <fieldset>
            <div class="row column">
                <legend>News Releases</legend>

                <div class="row column">
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">All Releases</label>
                </div>
                <div class="row column">
                    <input id="checkbox2" type="checkbox"><label for="checkbox2">General Releases</label>
                </div>
                <div class="row column">
                    <input id="checkbox3" type="checkbox"><label for="checkbox3">Financial Releases</label>
                </div>
            </div>
            <div class="row column">
                <legend>SEC Filings</legend>

                <div class="row column">
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">All SEC Filings</label>
                </div>
                <div class="row column inset">
                    <input id="checkbox2" type="checkbox"><label for="checkbox2">Insider Transactions</label>
                </div>
                <div class="row column inset">
                    <input id="checkbox3" type="checkbox"><label for="checkbox3">Quarterly and Annual Reports</label>
                </div>
            </div>




        </fieldset>
    </form>
</div>
