<div class="row column">

    <h1>Investor Resources</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h2>Investor FAQs</h2>

    <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>What is RationalX?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    RationalX is a trade name for RPX Corporation (NASDAQ: RPXC). RPX Corporation was founded in 2008 as a collaborative patent acquisition network. Its services now comprise a suite of technology-enabled solutions that help corporate legal departments reduce
                    risk and increase operating efficiency in a variety of functions. Launching RationalX as a new brand and trade name reflects this expanding solution set and the Company&rsquo;s core focus on rationalizing corporate legal processes.
                </p>
                <p>
                    The Company&rsquo;s two operating units, RPX and Inventus Solutions, Inc., specialize in patent licensing and discovery services, respectively. RationalX delivers comprehensive solutions that combine and leverage the technology tools, data management,
                    and risk mitigation expertise of both operating units.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>What is RationalX&rsquo;s business focus?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    RationalX helps reduce cost and risk for corporate legal departments. The Company&rsquo;s expertise in legal processes, data aggregation/analysis, and applied technology allow it to bring greater efficiency to many of the traditionally labor-intensive
                    functions of corporate legal practice.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Why is RPX Corporation using RationalX as its trade name?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    Since its founding, the Company has used data, technology, and market intelligence to help clients manage legal risk through more rational decision-making. The name RationalX makes that strategic focus clear and conveys our central value proposition more
                    directly.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Has the Company made any acquisitions?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    RationalX has grown both organically and via acquisition. To date, the company has completed three acquisitions: the patent search and IP news provider PriorSmart ([year]); Patent Freedom, a subscription service that delivers in-depth information about
                    non-practicing entities and patent assertions (2014); and an international provider of legal discovery services, Inventus Solutions (2016).
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>When was the company founded and incorporated?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    RPX Corporation was founded in July of 2008 and is incorporated in Delaware.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Where is the Company headquartered?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    The Company is headquartered in San Francisco, California.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>What is the ticker symbol and where is the Company listed?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    The Company&rsquo;s common stock is listed on the Nasdaq stock market under the ticker symbol RPXC.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>How many shares are outstanding?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    Please see the <a href="/stock-information.html">Stock Information</a> of our website for more information.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>How do I reach Investor Relations?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    Please contact Investor Relations via email at <a href="mailto:ir@rationalxcorp.com">ir@rationalxcorp.com</a> or by phone at 415.418.2563.
                </p>

            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Can I receive announcements automatically via email?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    Please go to the <a href="/investor-resources/email-alerts.html">E-mail Alerts</a> section of our website to sign up for news and earnings releases.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Where can I find the Company's SEC filings?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    Please visit the <a href="/financials/quarterly-results.html">Financial Information</a>, <a href="/financials/sec-filings.html">SEC Filings</a> section of our website to view or download the Company&rsquo;s filings. Alternatively, you can visit the EDGAR section of the SEC website at <a href="http://www.sec.gov/edgar.shtml">http://www.sec.gov/edgar.shtml</a>                    and search for filings under &ldquo;RPX Corporation.&rdquo;
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>When does the fiscal year end?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    The Company&rsquo;s fiscal year ends on December 31.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>When will earnings be announced?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    When a date for the quarterly results release has been established, it will be announced in a news release and will be listed under the <a href="/news-and-events/financial-releases.html">Financial Releases</a> section of our website.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>How can I access the Company&rsquo;s earnings webcast?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    Quarterly earnings webcast information will be included in the <a href="/news-and-events/investor-events.html">Events and Presentations</a> section of our IR page, and also in each quarterly earnings date announcement.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Who is the Company&rsquo;s transfer agent?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>Computershare<br />
                    Website: <a href="https://www-us.computershare.com/Investor/">https://www-us.computershare.com/Investor/</a>
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Who is the Company&rsquo;s outside securities counsel?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    Gunderson Dettmer Stough Villeneuve Franklin &amp; Hachigian, LLP<br/>
                    Redwood City, CA
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Who are the Company&rsquo;s auditors?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    PricewaterhouseCoopers LLP<br />
                    San Jose, CA
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>How can I purchase RPXC shares?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    You must contact a registered broker to invest in the common stock of RPX Corporation.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Can I purchase shares directly from the Company?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    We do not offer a direct investment program at this time.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>Does the Company pay dividends?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    The Company does not currently pay dividends.
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><strong>How do I replace a lost or stolen stock certificate?</strong></a>
            <div class="accordion-content" data-tab-content>
                <p>
                    Please contact Computershare at:
                </p>
                <p>
                    By Regular Mail:<br />
                    PO Box 43006<br />
                    Providence, RI 02940-3006<br />
                    USA
                </p>
                <p>
                    By Overnight Delivery:<br />
                    250 Royall Street<br />
                    Canton, MA 02021<br />
                    USA
                </p>

                <p>
                    By Telephone:<br />
                    Toll Free: +1.866.402.3956<br />
                    Toll: +1.201.680 6578<br />
                    Website:<br />
                    <a href="https://www-us.computershare.com/Investor/">https://www-us.computershare.com/Investor/</a>
                </p>
            </div>
        </li>
    </ul>
</div>
