<div class="row column">

    <h1>Investor Resources</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h2>Investor Information Request</h2>

    <p class="text-black">To receive printed material by postal mail, please complete the following form.</p>

    <form class="form--contact">
        <div class="row">
            <div class="medium-3 columns">
                <label>First name: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Last name: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Email: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Title: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Company: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Company: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <select required>
                    <option>Select</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Address: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Address:</label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>City: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>State/Province:</label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>

        <p style="color: black; background:red; padding: 5px;border: 2px dashed yellow;">
            <em>This from is to be completed by Nasaq dev team</em>
        </p>

        <!-- Continue for full form -->

        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->

        <div class="row column text-right">
            <input type="button" value="Submit" class="button tertiary" />
        </div>


    </form>

    <p class="text-black">
        <strong>Transfer Agent Information</strong><br />
        Computershare
    </p>

    <p class="text-black">
        <strong>By Regular Mail:</strong><br />
        P.O. Box 30170<br />
        College Station, TX 77842<br />
        United States
    </p>
    <p class="text-black">
        <strong>By Overnight Delivery:</strong><br />
        211 Quality Circle, Suite 210<br />
        College Station, TX 77845<br />
        United States
    </p>

    <p class="text-black">
        <strong>By Telephone:</strong><br />
        Toll Free: 866 402 3956<br />
        Toll: +1 (201) 680 6578
    </p>

    <p class="text-black">
        Web: <a href="http://www-us.computershare.com/Investor/">www-us.computershare.com/Investor/</a>
    </p>

</div>
