.accordion-item {
    margin-bottom: 13px;
}

.accordion-title,  {
    background-color: $light-gray;
    font-size: 22px;
    line-height: 28px;
    padding-left: 60px;
    &:hover, &:focus {
        color: $black;
    }
    &:before {
        left: 1rem;
        right: inherit;
        top: 1.25rem;
        margin-top: 0;
    }
}

.accordion-content {
    font-weight: 300;
    .headshot {
        float: left;
        padding-right: 1.25rem;
        max-width: 150px;
    }
}
