.footer-bg-wrap {
    background: linear-gradient(to right, rgba(109,110,113,1) 0%, rgba(109,110,113,1) 50%, rgba(65,64,66,1) 50%, rgba(65,64,66,1) 100%);
}

.footer-container {
    background-color: $dark-gray;
    color: $white;
}

.footer__ticker-container {
    background-color: #414042;
    border-bottom: 6px solid $white;
    font-family: "Proxima Nova Condensed","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    @media screen and (min-width: map-get($breakpoints, large)) {
        float: right;
        max-width: none;
        border-bottom: none;
        border-left: 6px solid $white;
    }
}

.row.footer__ticker {
    font-size: 18px;
    padding-bottom: 35px;
    padding-top: 25px;
    max-width: 300px;

    h5 {
        color: $inventus_orange;
        font-family: "Proxima Nova Condensed","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    strong {
        color: $white;
    }
}

.footer__nums {
    border-left: 1px solid $white;
}

.footer__info {
    color: #A7A9AC;
    font-size: 13px;
    font-weight: normal;
    padding-top: 1rem;
}

.footer__logo {
    display: block;
    padding-top: 25px;
}

.footer__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0.625rem;
    padding-top: 25px;
    @media screen and (min-width: map-get($breakpoints, large)) {
        padding-left: 0;
    }
    li:first-of-type {
        font-weight: bold;
    }
    a:link, a:visited {
        color: $white;
    }
    a:hover {
        color: #A7A9AC;
    }
}

.footer__copyright {
    font-size: 12px;
    padding-top: 58px;
    padding-bottom: 20px;
    @media screen and (min-width: map-get($breakpoints, large)) {
        padding-bottom: 0;
    }
}
