form {
    .required {
        color: map-get($foundation-palette, alert);
    }
}

.investment-calculator {
    margin-bottom: 2rem;
}

.form--inline {
    input, select {
        display: inline-block;
        max-width: 200px;
        vertical-align: baseline;
    }
}

.form--contact {
    max-width: 500px;

    label {
        font-size: 16px;
        @media screen and (max-width: map-get($breakpoints, medium)) {
            padding-top: 10px;
        }
    }

    textarea {
        min-height: 100px;
    }
}

fieldset legend {
    font-family: "AvenirLTStd";
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    color: #000000;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

.form--email-sign-up {
    input[type="checkbox"] {
        margin-bottom: 0;
        margin-top: 10px;
        vertical-align: top;
    }

    fieldset > .row.column {
        margin-bottom: 1rem;
    }

    label {
        font-size: 1.5rem;
    }
    .inset {
        padding-left: 2rem !important;
    }
}
