.sticky-wrapper {
    background-color: $white;
}

.top-bar {
    &-right {
        text-align: right;
    }

    &_rpx-link {
        color: $rpx_blue;
        font-size: 1rem;
        font-weight: bold;
    }

    &_inventus-link {
        color: $inventus_orange;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 1.25rem;
        &:hover {
            color: darken($inventus_orange, 10%);
        }
    }
}

.logo-container {
    background-color: $dark-gray;
    padding-bottom: 20px;
    padding-top: 35px;
}
