.main-container {
    background-image: url('../img/bg_x.jpg');
    background-position: 90% 35px;
    background-repeat: no-repeat;
    padding-top: 50px;

    .row {
        margin-bottom: 2.5rem;
    }

    .row .row {
        margin-bottom: 0;
    }
}
