.operating-units {
    margin-right: 40px;
}

.modal-logo {
    padding-bottom: 1.5rem;
    padding-top: 30px;
    @media screen and (min-width: map-get($breakpoints, medium)) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.rpx-modal {
    box-shadow: inset 0 13px 0 $rpx_blue,
                0 0 10px rgba(0,0,0,0.4);
    &:focus {
        outline: 0;
    }
}

.inventus-modal {
    box-shadow: inset 0 13px 0 $inventus_orange,
                0 0 10px rgba(0,0,0,0.4);
    &:focus {
        outline: 0;
    }
}

.reveal p {
    font-size: 1.125rem;
}

// fix for scrollbar jump when modal opens on windows firefox
@-moz-document url-prefix() {
    body.is-reveal-open {
        overflow: visible;
    }

    .reveal-overlay {
        overflow-y: hidden;
    }
}
