.main-navigation {
    background-color: $white;
    border-bottom: 1px solid $darker-gray;
    font-family: "Proxima Nova Condensed","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;

    a:link,
    a:visited {
        color: map-get($foundation-palette, tertiary);
    }

    a.is-active,
    a:hover {
        color: $black;
    }
}


.dropdown.menu > li{
    > a {
        padding-right: 2rem;
    }

    &:first-of-type {
        > a {
            padding-left: 0;

        }
        .is-dropdown-submenu {
            margin-left: -16px;
        }
    }
}

.dropdown-is-active .is-dropdown-submenu {
    display: block;
}

.dropdown .nested.menu {
    margin-left: 0;
}

.is-submenu-item a {
    padding-top: .625rem !important;
    padding-bottom: .625rem !important;
}

.submenu {
    background-color: #f1f2f2;
    border: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;

    .is-active & {
        &:after,
        &:before {
            bottom: 100%;
            left: 20px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(241, 242, 242, 0);
            border-bottom-color: #f1f2f2;
            border-width: 15px;
            margin-left: -15px;
        }

        &:before {
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: #000000;
            border-width: 16px;
            margin-left: -16px;
        }
    }
}
.dropdown.menu > li.opens-right > .is-dropdown-submenu {
    top: calc(100% + 1px);
}

// fixes bug when on tablet while scroll with side nav open
.sticky.is-stuck.is-at-top {
    left: 0 !important;
}

// anchor offset!
a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    @media screen and (min-width: map-get($breakpoints, medium)) {
        top: -150px;
    }
    @media screen and (min-width: map-get($breakpoints, large)) {
        top: -220px;
    }
}
