.off-canvas {
    &.position-left {
        border-right: 4px solid #CBCCCB;
        height: 100vh;
        min-height: 100%;
    }
    > .menu {
        font-family: "Proxima Nova Condensed","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
        padding-top: 65px;
        a:link, a:visited {
            color: $dark-gray;
            padding: .6rem 0;
        }
        a:hover {
            color: $black;
        }

        > li {
            margin: 0 .75rem 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $medium-gray;
            &:last-of-type {
                border-bottom: 0;
            }
        }
    }
}

.off-canvas-button {
    display: block;
    font-size: 20px;
    height: 20px;
    left: 15px;
    padding-left: 1.25em;
    position: absolute;
    top: 8px;
    width: 20px;

    &:before {
        background-color: #6D6E71;
        box-shadow:
        0 0.25em 0 0 #6D6E71,
        0 0.5em 0 0 #6D6E71;
        content: "";
        height: 0.15em;
        left: 0;
        position: absolute;
        top: 0.25em;
        width: 1em;
    }
}
