.shareholder-tools {
  ul {
    list-style: none;

    a:link, a:visited {
      background-color: #F1F2F2;
      color: #F1F2F2;
      font-size: 12px;
      display: block;
      height: 100px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      text-align: center;
      @media screen and (min-width: map-get($breakpoints, medium)) {

          height: 80px;
      }
    }
    a:hover {
      span {
          opacity: 1;
      }
    }
    span {
        //flexbox to vertically center
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        background-color: rgba( $dark-gray, .8 );
        bottom: 0;
        left: 0;
        padding: 3px;
        min-height: 38px;
        position: absolute;
        opacity: 1;
        width: 100%;
        transition: opacity .5s ease;

        @media screen and (min-width: map-get($breakpoints, medium)) {
            opacity: 0;
            min-height: auto;
        }
    }
  }

  .row.collapse {
      margin-top: .5rem;
      margin-left: -5px;
      margin-right: -5px;
  }
}



.shareholder-tools__briefcase {
    background-image: url('/assets/img/shareholder_tools-sprite@2x.png');
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 40px;
}
.shareholder-tools__printed-materials {
    background-image: url('/assets/img/shareholder_tools-sprite@2x.png');
    background-repeat: no-repeat;
    background-position: center -70px;
    background-size: 37px;
}
.shareholder-tools__email-alerts {
    background-image: url('/assets/img/shareholder_tools-sprite@2x.png');
    background-repeat: no-repeat;
    background-position: center -161px;
    background-size: 37px;
}
.shareholder-tools__download {
    background-image: url('/assets/img/shareholder_tools-sprite@2x.png');
    background-repeat: no-repeat;
    background-position: center -254px;
    background-size: 37px;
}
.shareholder-tools__graph {
    background-image: url('/assets/img/shareholder_tools-sprite@2x.png');
    background-repeat: no-repeat;
    background-position: center -350px;
    background-size: 37px;
}
.shareholder-tools__rss {
    background-image: url('/assets/img/shareholder_tools-sprite@2x.png');
    background-repeat: no-repeat;
    background-position: center -440px;
    background-size: 37px;
}
.shareholder-tools__social {
    background-image: url('/assets/img/shareholder_tools-sprite@2x.png');
    background-repeat: no-repeat;
    background-position: center -534px;
    background-size: 37px;
}
.shareholder-tools__search {
    background-image: url('/assets/img/shareholder_tools-sprite@2x.png');
    background-repeat: no-repeat;
    background-position: center -625px;
    background-size: 37px;
}

.shareholder-content {
    background: #414042;
    position: relative;
    padding: 1rem 65px 1rem 1rem;
    margin-bottom: 2.25rem;
    .close-button {
        border: 2px solid currentColor;
        border-radius: 50%;
        color: #bbbdc0;
        height: 33px;
        top: 50%;
        transform: translateY(-50%);
        transition: color 0.25s ease-in-out;
        width: 33px;
        &:hover {
            color: #7d7e81;
        }
    }
}
.shareholder-content__social {
    display: none;
    margin-top: -1.5rem;
}
.shareholder-content__search {
    display: none;
    margin-top: -1.5rem;
    input {
        margin: 0;
        max-width: 340px;
    }
}

.social-icon {
    background-size: 30px;
    background-repeat: no-repeat;
    background-image: url('/assets/img/shareholder-social-sprite.png');
    display: inline-block;
    font-size: 0;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin-right: 10px;
    &:hover {
        opacity: .5;
    }
}

.social-icon__facebook {
    background-position: left top;
}
.social-icon__google {
    background-position: left -45px;
}
.social-icon__linkedin {
    background-position: left -90px;
}
.social-icon__twitter {
    background-position: left -135px;
}
.social-icon__email {
    background-position: left -180px;
}
.social-icon__rss {
    background-position: left -225px;
}
