table {
    color: $darker-gray;
    font-family: "Proxima Nova Condensed","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    font-size: 20px;
}

th {
    background-color: $dark-gray;
    color: $white;
    font-family: "AvenirLTStd";
    font-weight: bold;
    text-align: left;
}

.table--feed {
    margin-bottom: 1.5rem;
    font-size: 26px;

    td {
        color: $dark-gray;
        min-width: 75px;
        padding: 0.125rem 0.625rem 0.125rem 0;
        vertical-align: top;
        &:nth-child(2) {
            width: 90%;
        }
    }

    tfoot {
        background-color: transparent;
        color: $darker-gray;
        font-family: 'AvenirLTStd';
        font-weight: bold;
        font-size: 1rem;

        td {
            padding-top: .75rem;
            padding-bottom: 1rem;
        }

        a:link, a:visited {
            font-weight: normal;
        }
    }

    > tbody > tr:nth-child(even) {
        background-color: rgba(240,240,240,.5);
        border-bottom: 1px solid $darker-gray;
        border-top: 1px solid $darker-gray;
    }
    > tbody > tr:last-of-type {
        border-bottom: 1px solid $darker-gray;
    }

    a:link, a:visited {
        color: $black;
        font-weight: bold;
    }
    a:hover {
        color: $dark-gray;
    }

    //nested tables
    table {
        margin-bottom: 0;

        tbody tr:nth-child(even) {
            background-color: transparent;
        }
    }

    .table-paragraph {
        font-family: 'AvenirLTStd';
        color: $black;
        a:link, a:visited {
            color: $inventus_orange;
            font-weight: normal;
        }
        a:hover {
            color: darken($inventus_orange, 10%);
        }
    }

}

.table--historic-lookup {
    border-bottom: 1px solid $dark-gray;
    tr {
        background-color: transparent !important;
    }
    th {
        background-color: rgba(240,240,240,.5);
        border-top: 1px solid $dark-gray;
        color: $darker-gray;
        font-family: "Proxima Nova Condensed","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
        font-weight: bold;
        text-align: left;
        padding-left: .625rem;
    }

    td[data-before='date']{
        font-weight: bold;
    }

    td {
        display: block;
        position: relative;
        padding-left: 100px;

        @media screen and (min-width: map-get($breakpoints, medium)) {
            display: table-cell;
            padding-left: 0.625rem;
        }

        &:first-of-type {
            background-color: rgba(240,240,240,.5);
            border-top: 1px solid $dark-gray;
            @media screen and (min-width: map-get($breakpoints, medium)) {
                background-color: transparent;
                border: none;
            }
        }

        &:before {
            content: attr(data-before);
            position: absolute;
            left: 0;
            top: 5px;
            text-transform: capitalize;
            @media screen and (min-width: map-get($breakpoints, medium)) {
                display: none;
            }
        }
    }
}

.table--investment-calculator {
    border-bottom: 1px solid $dark-gray;
    margin-bottom: 1.5rem;
    th {
        background-color: rgba(240,240,240,.5);
        border-top: 1px solid $dark-gray;
        color: $darker-gray;
        font-family: "Proxima Nova Condensed","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    }

    tr {
        background-color: transparent !important;
    }
}
