h1, h2, h3 {
    font-weight: bold;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: rem-calc(50);
}

h3 {
    margin-bottom: rem-calc(20);
}

h4 {
    margin-bottom: 1.5rem;
}
h5 {
    color: $black;
    font-weight: normal;
    margin-bottom: 0;
}

h2, .headline--underline {
    border-bottom: 2px solid $black;
    color: $black;
    display: inline-block;
}

.main-container {
    ol,
    p,
    ul {
        font-size: rem-calc(21);
        @media screen and (min-width: map-get($breakpoints, medium)) {
            font-size: rem-calc(24);
        }
    }

    .lead, p.lead {
        color: $black;
        font-size: map-get(map-get($header-sizes, 'small'), 'h1') + px;
        font-weight: normal;
        @media screen and (min-width: map-get($breakpoints, medium)) {
            font-size: rem-calc(40);
        }
    }

    .disclaimer, p.disclaimer {
        font-size: rem-calc(18);
    }

    .text-black {
        color: $black;
    }

    .descriptor {
        font-size: rem-calc(14);
        margin-bottom: 3rem;
        margin-top: -2.5rem;
    }
}

strong {
    color: $black;
    font-weight: bold;
}

.inventus-orange {
    color: $inventus_orange;

    @at-root a#{ &}:link {
        color: $inventus_orange;
    }

    @at-root a#{ &}:visited {
        color: $inventus_orange;
    }

    @at-root a#{ &}:hover {
        color: darken($inventus_orange, 10%);
    }
}

a[href^="mailto"] {
    &:link, &:visited{
        color: $dark-gray;
    }
    &:hover{
        color: $black;
    }
}

.button {
    font-weight: bold;
    text-transform: uppercase;
}

.stock-block {
    span {
        display: block;
        font-family: "Proxima Nova Condensed","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    }
    &__title {
        color: $inventus_orange;
        font-size: rem-calc(41);
    }
    &__price {
        color: $black;
        font-size: rem-calc(41);
    }
    &__date {
        font-size: rem-calc(26);
        color: $dark-gray;
    }
}
