
<div class="row column">

    <h1>Financials</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h3 class="headline--underline">Annual Reports</h3>

    <table class="table--feed">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>2015 Annual Report</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>2014 Annual Report</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>2013 Annual Report</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>2012 Annual Report</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>2011 Annual Report</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="row column">

    <h3 class="headline--underline">Proxy Statements</h3>

    <table class="table--feed">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>Apr 29, 2016</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>Apr 29, 2015</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>Apr 29, 2014</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>Apr 29, 2013</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><strong>Apr 30, 2012</strong></td>
                    </tr>
                    <tr>
                        <td>View</td>
                        <td>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
