<div class="row column">

    <h1>Financials</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h3 class="headline--underline">Key Ratios</h3>

    <table>
        <tr>
            <th colspan="2" width="200">Price &amp; Volume</th>
        </tr>
        <tbody>
            <tr>
                <td width="200">Recent Price $</td>
                <td>10.48</td>
            </tr>
            <tr>
                <td width="200">52 Week High $</td>
                <td>15.41</td>
            </tr>
            <tr>
                <td width="200">52 Week Low $</td>
                <td>8.60</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <th colspan="2" width="200">Share Related Items</th>
        </tr>
        <tbody>
            <tr>
                <td width="200">Market Cap. (Mii) $</td>
                <td>10.48</td>
            </tr>
            <tr>
                <td width="200">Shares Out (Mii)</td>
                <td>15.41</td>
            </tr>
            <tr>
                <td width="200">Float (Mii)</td>
                <td>8.60</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <th colspan="2" width="200">Price &amp; Volume</th>
        </tr>
        <tbody>
            <tr>
                <td width="200">Recent Price $</td>
                <td>10.48</td>
            </tr>
            <tr>
                <td width="200">52 Week High $</td>
                <td>15.41</td>
            </tr>
            <tr>
                <td width="200">52 Week Low $</td>
                <td>8.60</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <th colspan="2" width="200">Share Related Items</th>
        </tr>
        <tbody>
            <tr>
                <td width="200">Market Cap. (Mii) $</td>
                <td>10.48</td>
            </tr>
            <tr>
                <td width="200">Shares Out (Mii)</td>
                <td>15.41</td>
            </tr>
            <tr>
                <td width="200">Float (Mii)</td>
                <td>8.60</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <th colspan="2" width="200">Price &amp; Volume</th>
        </tr>
        <tbody>
            <tr>
                <td width="200">Recent Price $</td>
                <td>10.48</td>
            </tr>
            <tr>
                <td width="200">52 Week High $</td>
                <td>15.41</td>
            </tr>
            <tr>
                <td width="200">52 Week Low $</td>
                <td>8.60</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <th colspan="2" width="200">Share Related Items</th>
        </tr>
        <tbody>
            <tr>
                <td width="200">Market Cap. (Mii) $</td>
                <td>10.48</td>
            </tr>
            <tr>
                <td width="200">Shares Out (Mii)</td>
                <td>15.41</td>
            </tr>
            <tr>
                <td width="200">Float (Mii)</td>
                <td>8.60</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <th colspan="2" width="200">Price &amp; Volume</th>
        </tr>
        <tbody>
            <tr>
                <td width="200">Recent Price $</td>
                <td>10.48</td>
            </tr>
            <tr>
                <td width="200">52 Week High $</td>
                <td>15.41</td>
            </tr>
            <tr>
                <td width="200">52 Week Low $</td>
                <td>8.60</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <th colspan="2" width="200">Share Related Items</th>
        </tr>
        <tbody>
            <tr>
                <td width="200">Market Cap. (Mii) $</td>
                <td>10.48</td>
            </tr>
            <tr>
                <td width="200">Shares Out (Mii)</td>
                <td>15.41</td>
            </tr>
            <tr>
                <td width="200">Float (Mii)</td>
                <td>8.60</td>
            </tr>
        </tbody>
    </table>
    <p class="disclaimer">
        Historical financial information is provided by MorningStar, Inc. RationalX Corp makes no representations or warranties with respect to the information contained herein and takes no responsibility for supplementing, updating, or correcting any such information.
    </p>

    <p class="disclaimer">
        Mil = Millions<br />
        RTMA = Rolling Three Month Average<br />
        TTM = Trailing Twelve Months<br />
        MRQ = Most Recent Quarter<br />
        Pricing and volume data as of 09/02/16.
    </p>
</div>
