<div class="row column">

    <h1>Financials</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h2>Quarterly Results</h2>

    <form class="form--contact">
        <div class="row column small-6">
            <label>View:</label>
            <select>
                <option value="">All Quarters</option>
                <option value="4">Fourth Quarter</option>
                <option value="3">Third Quarter</option>
                <option value="2">Second Quarter</option>
                <option value="1">First Quarter</option>
            </select>
        </div>
        <div class="row column small-6">
            <label>Year:</label>
            <select>
                <option value="">All Years</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
            </select>
        </div>
    </form>

</div>

<div class="row column">

    <h3 class="inventus-orange">2016</h3>

    <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Second Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>First Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="row column">

    <h3 class="inventus-orange">2015</h3>

    <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Fourth Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Third Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Second Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>First Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="row column">

    <h3 class="inventus-orange">2015</h3>

    <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Fourth Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Third Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Second Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>First Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="row column">

    <h3 class="inventus-orange">2014</h3>

    <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Fourth Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Third Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Second Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>First Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="row column">

    <h3 class="inventus-orange">2013</h3>

    <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Fourth Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Third Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Second Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>First Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="row column">

    <h3 class="inventus-orange">2012</h3>

    <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Fourth Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Third Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Second Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>First Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="row column">

    <h3 class="inventus-orange">2011</h3>

    <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Fourth Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Third Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>Second Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>

            <a href="#" class="accordion-title"><strong>First Quarter 2016</strong></a>

            <div class="accordion-content" data-tab-content>
                <p>
                    RPX First Quarter 2016 Financial Results<br />
                    RPX Announces First Quarter 2016 Financial Results<br />
                    View Presentation <small>420.1 KB</small><br />
                    Form 10-Q
                </p>
            </div>
        </li>
    </ul>
</div>

<div class="row column">
    <p class="disclaimer"><img src="http://placehold.it/20x20" alt="" /> = add file to Briefcase</p>
</div>
