<div class="row column">

    <h1>Financials</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h3 class="headline--underline">SEC Filings</h3>

    <form class="form--contact">
        <div class="row column">
            <label>View:</label>
            <select>
                <option value="">All Quarters</option>
                <option value="4">Fourth Quarter</option>
                <option value="3">Third Quarter</option>
                <option value="2">Second Quarter</option>
                <option value="1">First Quarter</option>
            </select>
        </div>
        <div class="row column">
            <label>Year:</label>
            <select>
                <option value="">All Years</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
            </select>
        </div>
        <div class="row column">
            <label>Sort By:</label>
            <select>
                <option value="">Date Descending</option>
                <option value="">Date Ascending</option>
            </select>
        </div>
    </form>
</div>
<div class="row column">
    <table class="table--feed">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Date Filed</td>
                            <td>Aug 23, 2016</td>
                        </tr>
                        <tr>
                            <td>Filing</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><strong>Swank, Steven S</strong></td>
                        </tr>
                        <tr>
                            <td>View</td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Date Filed</td>
                            <td>Aug 23, 2016</td>
                        </tr>
                        <tr>
                            <td>Filing</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><strong>Amster, John A</strong></td>
                        </tr>
                        <tr>
                            <td>View</td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <a href="">View all SEC filings &raquo;</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="http://placehold.it/20x20" alt="" /> = add PDF file to Briefcase
                </td>
            </tr>
        </tfoot>
    </table>
</div>
