<div class="row column">
    <h1>Contact Us</h1>
    <h3>Investor Relations Contact</h3>

    <h5>JoAnn Horne</h5>
    <p>
        Market Street Partners<br />
        +1.415.445.3233<br />
        <a href="mailto:ir@rpxcorp.com">ir@rpxcorp.com</a>
    </p>

    <h3>Media Contact</h3>

    <h5>Jen Costa</h5>
    <p>
        RPX Corporation<br />
        +1.415.852.3180<br />
        <a href="mailto:media@rpxcorp.com">media@rpxcorp.com</a>
    </p>
</div>


<div class="row column">
    <h3>Please submit investor inquiries using the form below:</h3>

    <form class="form--contact">
        <div class="row">
            <div class="medium-3 columns">
                <label>Name: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Email: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Subject: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Comments: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <textarea placeholder="enter text" required></textarea>
            </div>
        </div>

        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->

        <div class="row column text-right">
            <input type="button" value="Submit" class="button tertiary" />
        </div>
    </form>
</div>
