<div class="row column">

    <h1>Corporate Governance</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <table class="table--feed">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Title</td>
                            <td><strong>Certificate of Incorporation</strong></td>
                        </tr>
                        <tr>
                            <td>
                                View
                            </td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Title</td>
                            <td><strong>Bylaws</strong></td>
                        </tr>
                        <tr>
                            <td>
                                View
                            </td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Title</td>
                            <td><strong>Audit Committee Charter</strong></td>
                        </tr>
                        <tr>
                            <td>
                                View
                            </td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Title</td>
                            <td><strong>Compensation Committee Charter</strong></td>
                        </tr>
                        <tr>
                            <td>
                                View
                            </td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Title</td>
                            <td><strong>Nominating and Corporate Governance Committee Charter</strong></td>
                        </tr>
                        <tr>
                            <td>
                                View
                            </td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Title</td>
                            <td><strong>Code Of Business Conduct</strong></td>
                        </tr>
                        <tr>
                            <td>
                                View
                            </td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Title</td>
                            <td><strong>Corporate Governance Guidelines</strong></td>
                        </tr>
                        <tr>
                            <td>
                                View
                            </td>
                            <td>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                                <a href="http://placehold.it/20x20"><img src="http://placehold.it/20x20" alt="" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <img src="http://placehold.it/20x20" alt="" /> = add PDF file to Briefcase
                </td>
            </tr>
        </tfoot>
    </table>
    <p>
        The Board of Directors of RPX Corporation (the &ldquo;Company&rdquo;) sets high standards for the Company&rsquo;s employees, officers and directors. Implicit in this philosophy is the importance of sound corporate governance. It is the duty of the Board of Directors to serve as a prudent fiduciary for shareholders and to oversee the management of the Company&rsquo;s business. To fulfill its responsibilities and to discharge its duty, the Board of Directors follows the procedures and standards that are set forth in these guidelines. These guidelines are subject to modification from time to time as the Board of Directors deems appropriate in the best interests of the Company or as required by applicable laws and regulations.
    </p>
</div>
<div class="row column">
    <a class="anchor" id="contact-the-board"></a>
    <h3>Contact the Board</h3>
    <p>
        You can contact RPX Corporation&rsquo;s Board of Directors to provide comments, to report concerns, or to ask a question, at the following address.
    </p>
    <p>
        Corporate Secretary<br />
        RPX Corporation<br />
        One Market Plaza<br />
        Steuart Tower, Suite 800<br />
        San Francisco, CA 94105<br />
        United States
    </p>
    <p>
        You may submit your concern anonymously or confidentially by postal mail. You may also indicate whether you are a shareholder, customer, supplier, or other interested party. Communications are distributed to the Board, or to any individual directors as appropriate, depending on the facts and circumstances outlined in the communication. In that regard, the RPX Corporation board of directors has requested that certain items which are unrelated to the duties and responsibilities of the board should
        be excluded, such as:
    </p>
    <ul>
        <li>Product complaints</li>
        <li>Product inquiries</li>
        <li>New product suggestions</li>
        <li>Resumes and other forms of job inquiries</li>
        <li>Surveys</li>
        <li>Business solicitations or advertisements</li>
    </ul>
    <p>
        In addition, material that is unduly hostile, threatening, illegal or similarly unsuitable will be excluded, with the provision that any communication that is filtered out must be made available to any non-management director upon request.
    </p>
    <p>
        You may also communicate online with our Board of Directors.
    </p>
    <p>
        Please submit your question using the form below:
    </p>
</div>

<div class="row column">
    <form class="form--contact">
        <div class="row">
            <div class="medium-3 columns">
                <label>Name: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Email: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Subject: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <input type="text" required/>
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Comments: <span class="required">*</span></label>
            </div>
            <div class="medium-9 columns">
                <textarea placeholder="enter text" required></textarea>
            </div>
        </div>

        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->
        <!-- Insert Anti spam captcha -->

        <div class="row column text-right">
            <input type="button" value="Submit" class="button tertiary" />
        </div>
    </form>
</div>
