<div class="row column">

    <p class="lead">
        RationalX offers a unique, growing suite of technology-enabled services to help corporate legal departments reduce risk and increase operating efficiency.
    </p>
    <p>
        The company&rsquo;s two operating units, RPX and Inventus, specialize in patent licensing and discovery services, respectively. RationalX delivers comprehensive solutions that combine and leverage the technology tools, data management, and risk mitigation expertise of both companies.
    </p>
</div>

<div class="row column">
    <h3>Overview</h3>
    <p>
        RationalX (a trade name for RPX Corporation NASDAQ: RPXC) provides solutions to help lower cost and risk for a variety of corporate legal functions.
    </p>
    <p>
        The first of these services was a unique collaborative patent acquisition network that created a market-based solution for patent licensing. Today, the network and a suite of associated insurance products are the core of the RPX operating unit, which helps companies reduce the multi-billion dollar expense of patent litigation brought by non-practicing entities (NPEs, or &ldquo;patent trolls&rdquo;) and other companies. To date, RPX has saved its clients more than $3.3 billion in avoided legal costs and settlements.
    </p>
    <p>
        The company&rsquo;s Inventus operating unit, acquired in 2016, provides technology-enabled services to reduce legal risk and cost in the related area of eDiscovery. Inventus is a leading international provider and innovator in the discovery market, delivering advanced technology solutions for hosting and analysis, managed review, and process workflow.
    </p>
</div>

<div class="row column">
    <h3>Operating Units</h3>

    <a data-open="rpxModal" class="operating-units">
        <img data-interchange="[{{root}}assets/img/OperatingUnit_RPX.png, small], [{{root}}assets/img/OperatingUnit_RPX@2x.png, retina]" height="48" width="100" alt="RPX Logo" src="{{root}}assets/img/OperatingUnit_RPX.png" />
    </a>
    <a data-open="inventusModal" class="operating-units">
        <img data-interchange="[{{root}}assets/img/OperatingUnit_Inventus.png, small], [{{root}}assets/img/OperatingUnit_Inventus@2x.png, retina]" height="48" width="233" alt="Inventus Logo" src="{{root}}assets/img/OperatingUnit_Inventus.png" />
    </a>

    <!-- modals -->
    <div class="reveal rpx-modal" id="rpxModal" data-reveal>
        <div class="row">
            <div class="medium-3 large-2 columns">
                <img class="modal-logo" data-interchange="[{{root}}assets/img/OperatingUnit_RPX.png, small], [{{root}}assets/img/OperatingUnit_RPX@2x.png, retina]" height="48" width="100" alt="RPX Logo" />
            </div>
            <div class="medium-9 large-10 columns">
                <h4>Patent Risk Management</h4>
                <p>
                    RPX provides solutions that rationalize and lower the costs of patent licensing by reducing the unnecessary legal costs associated with infringement litigation.
                </p>
                <p>
                    The company&rsquo;s core defensive patent acquisition service uses market-based principles to buy or license patents preemptively before they become an expensive source of risk for clients. Members of the RPX client network pay an annual fee. We then use this aggregated capital to clear potentially problematic patents. Members of the network receive a license to every asset we acquire. RPX never litigates or asserts the patents it purchases.
                </p>
                <p>
                    RPX also offers a suite of innovative patent insurance products, delivers in-depth market intelligence and analysis, and provides a variety of other services designed to limit patent risk and rationalize the patent-licensing process.
                </p>
                <p><a href="http://rpxcorp.com" target="_blank">Visit our site &gt;</a></p>
                <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
        </div>
    </div>

    <div class="reveal inventus-modal" id="inventusModal" data-reveal>
        <div class="row">
            <div class="medium-3 large-2 columns">
                <img class="modal-logo" data-interchange="[{{root}}assets/img/OperatingUnit_Inventus.png, small], [{{root}}assets/img/OperatingUnit_Inventus@2x.png, retina]" height="48" width="233" alt="Inventus Logo" src="{{root}}assets/img/OperatingUnit_Inventus.png" />
            </div>
            <div class="medium-9 large-10 columns">
                <h4>Discovery Management Services</h4>
                <p>
                    Inventus offers a suite of technology-enabled services to enhance and simplify legalInventus offers a suite of technology-enabled services to enhance and simplify legal discovery, while reducing associated risks and costs. The company provides its more than 1,000 clients with secure document hosting, analysis, and managed review of potentially relevant data. Inventus&rsquo;s proprietary workflow tools rationalize all elements of the discovery process.
                </p>
                <p>
                    The company has pioneered several powerful discovery services, including Luminosity – which reduces cost and risk by processing data once, culling the collected data and streamlining the review process – and M3: Multi Matter Management, which allows corporations to recycle hosted and coded data (thus minimizing duplication of effort and cost and the potential for errors over multiple discovery engagements). Inventus also offers a unique data analytics platform called Spotlight, which markedly enhances the tracking and management of litigation portfolios to improve outsourcing visibility, predictability and cost controls.

                </p>
                <p><a href="https://inventus.com/"  target="_blank" class="inventus-orange">Visit our site &gt;</a></p>
                <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
        </div>
    </div>
</div>
