<div class="row column">

    <p><img data-interchange="[{{root}}assets/img/OperatingUnit_RPX.png, small], [{{root}}assets/img/OperatingUnit_RPX@2x.png, retina]" height="48" width="100" alt="RPX Logo" src="{{root}}assets/img/OperatingUnit_RPX.png" /></p>
    <h3>Patent Risk Management</h3>
    <p>
        RPX provides solutions that rationalize and lower the costs of patent licensing by reducing the unnecessary legal costs associated with infringement litigation.
    </p>
    <p>
        The company&rsquo;s core defensive patent acquisition service uses market-based principles to buy or license patents preemptively before they become an expensive source of risk for clients. Members of the RPX client network pay an annual fee. We then use this aggregated capital to clear potentially problematic patents. Members of the network receive a license to every asset we acquire. RPX never litigates or asserts the patents it purchases.
    </p>
    <p>
        RPX also offers a suite of innovative patent insurance products, delivers in-depth market intelligence and analysis, and provides a variety of other services designed to limit patent risk and rationalize the patent-licensing process.
    </p>
    <p>
        <a href="http://rpxcorp.com/" target="_blank">Visit our site &gt;</a>
    </p>
</div>

<div class="row column">

    <a class="anchor" id="inventus-solutions"></a>

    <p><img data-interchange="[{{root}}assets/img/OperatingUnit_Inventus.png, small], [{{root}}assets/img/OperatingUnit_Inventus@2x.png, retina]" height="48" width="233" alt="Inventus Logo" src="{{root}}assets/img/OperatingUnit_Inventus.png" /></p>
    <h3>Discovery Management Services</h3>
    <p>
        Inventus offers a suite of technology-enabled services to enhance and simplify legalInventus offers a suite of technology-enabled services to enhance and simplify legal discovery, while reducing associated risks and costs. The company provides its more than 1,000 clients with secure document hosting, analysis, and managed review of potentially relevant data. Inventus&rsquo;s proprietary workflow tools rationalize all elements of the discovery process.
    </p>
    <p>
        The company has pioneered several powerful discovery services, including Luminosity – which reduces cost and risk by processing data once, culling the collected data and streamlining the review process – and M3: Multi Matter Management, which allows corporations to recycle hosted and coded data (thus minimizing duplication of effort and cost and the potential for errors over multiple discovery engagements). Inventus also offers a unique data analytics platform called Spotlight, which markedly enhances the tracking and management of litigation portfolios to improve outsourcing visibility, predictability and cost controls.

    </p>
    <p>
        <a href="http://inventus.com/" class="inventus-orange" target="_blank">Visit our site &gt;</a>
    </p>
</div>
