<div class="row column">

    <h1>Privacy Policy</h1>

    <p>
        Last revised: [DATE], 2016
    </p>
    <p>
        This Privacy Policy describes the privacy practices of RPX Corporation dba RationalX Corp. (&ldquo;RationalX&rdquo;, &ldquo;we&rdquo; or &ldquo;us&rdquo;) in connection with the use of RationalX websites within the domain rationalx.com (the &ldquo;Site&rdquo;). Separate privacy policies govern the use of all other RationalX websites and are available by accessing those websites. As used in this Privacy Policy, the term &ldquo;personally identifiable information&rdquo; means any information that readily may be used to identify an individual, including but not limited to a first and last name, physical or email address, phone number or other contact information. This Privacy Policy should be read alongside our Terms of Use.
    </p>
    <p>
        We do not automatically collect personally identifiable information in connection with the Site unless you submit a request for information to RationalX through the Site. We do track certain information about the visits to our website. We compile traffic-based statistics that show the numbers and frequency of visitors to the Site and individual web pages on the Site. The compilation is an aggregated statistical report that we use internally to understand traffic on the Site, manage the Site, and help diagnose any problems. We also record information from your computer and browser, including your IP address, RationalX cookie information (as discussed more below), and software attributes.g
    </p>
    <p>
        When you submit an information request form to RationalX through the Site, RationalX may collect personally identifiable information, including the following:
    </p>
    <ul>
        <li>your name, title, and company;</li>
        <li>your contact information, such as email address and/or physical address; and</li>
        <li>the type of information that you are seeking if you submit an information request form to RationalX through the Site, and any information that you include in that form.</li>
    </ul>

    <p>
        We use cookies to collect information regarding your use of the Site. A cookie is a small string of data which often includes an anonymous unique identifier sent to your browser from a website’s computers, and stored on your computer’s hard drive. Our use of cookies enables us to save searches and track user sessions, neither of which actions make use of personally identifiable information. Cookies may be used to store and sometimes track your preferences in order to provide you with a customized and personalized experience. Cookies enable the Site to recognize your Internet browser and tell us how and when pages on the Site are visited and by how many users. You can adjust your browser settings to accept all cookies, refuse all cookies, or to notify you when a cookie is being placed on your hard drive. However, if you reject all cookies, it may diminish your experience with the Site, and you may not be able to access some features of the Site.
    </p>
    <p>
        We use information gathered through the Site for the following general purposes: to fulfill your requests for information or services, improve the Site and other products and services offered by RationalX or its affiliates, contact you regarding the Site or other products and services offered by RationalX or its affiliates, conduct research, and provide anonymous reporting for internal and external clients.
    </p>
    <p>
        We will not sell your personally identifiable information to third parties, and we will not provide your personally identifiable information to third parties except as described below.
    </p>
    <p>
        We may provide your personally identifiable information to our third party service providers who will be obligated to protect your information and will use your information only in performing services for RationalX in accordance with this Privacy Policy. We may transfer your personally identifiable information if we are acquired by or merged with another company, in which event we will notify you before your personally identifiable information is transferred and becomes subject to a different privacy policy.
    </p>

    <p>
        We may also disclose personally identifiable information collected through the Site if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, or violations of our Terms of Use; to protect and defend our rights and interests and those of our users; or as otherwise required by law.
    </p>
    <p>

    </p>
        Unfortunately, the transmission of information via the Internet or e-mail is not completely secure. Although we will do our best to protect personally identifiable information that you submit to us, we cannot guarantee the security of your data transmitted to the Site. Any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.
    </p>
    <p>
        If you choose to provide us with personally identifiable information, you consent to the transfer and storage of that information on our servers located in the United States.
    </p>
    <p>
        We will strive to give you access to your personally identifiable information for any purpose, including to request that we correct the data if it is inaccurate or delete the data if RationalX is not required to retain it by law or for legitimate business purposes. We may decline to process requests that are frivolous/vexatious, jeopardize the privacy of others, are extremely impractical or require disproportionate technical effort, or for which access is not otherwise required by local law. Access, correction, or deletion requests can be made by contacting us at <a href="help@rpxcorp.com">help@rpxcorp.com</a>.
    </p>
    <p>
        This Privacy Policy does not apply to other websites that may be accessed through the Site. We may provide links to other websites that contain information that we believe may be useful to you or that you will find valuable. But we may not have investigated the security of those linked websites, and you should not assume those sites have a privacy policy equivalent to ours. If you access another website through a link we provide, you will be subject to the privacy policy of the new site. We are not responsible for the contents of any linked third party web pages referenced through the Site. If you have any questions regarding the privacy, security, or content of any other websites, you should contact the appropriate contact(s) at those websites directly.
    </p>
    <p>
        We may update this Privacy Policy, and any updates will be effective upon posting through the Site. We encourage you to periodically check back and review this Privacy Policy so that you always know what information we collect, how we use it, and if and to whom we may disclose it. You may update the personal data you provide to us during registration by contacting us at <a href="help@rpxcorp.com">help@rpxcorp.com</a>.
    </p>
    <p>
        If you have any questions concerning this Privacy Policy, please contact us at <a href="mailto:legal@rationalxcorp.com">legal@rationalxcorp.com</a>.
</div>
