<div class="row column">
    <h2>What is RSS?</h2>
    <p>
        Really Simple Syndication (RSS) is a format designed for sharing web content such as headlines. An RSS feed highlights fresh material for you, so you don't have to repeatedly check a site yourself for updates.
    </p>
</div>
<div class="row column">
    <h2>How do I use RSS?</h2>
    <p>
        To make use of RSS, you'll need an RSS reader, or aggregator. An RSS aggregator can be a stand-alone application, or a plug-in for another program you already use, such as Microsoft Outlook. Some web browsers, such as Firefox and Safari RSS, have RSS
        readers built in. There are also online aggregators, websites such as My Yahoo or Bloglines that allow you to customize them by adding RSS feeds. Find a downloadable RSS aggregator.
    </p>
</div>
<div class="row column">
    <h2>To view a feed in your RSS Aggregator:</h2>
    <p>
        Click on the RSS feed that corresponds to the topic that interests you. Copy the URL. Paste the URL into your reader.
    </P>
</div>
<div class="row column">
    <h2>RSS Feeds</h2>
    <p>
        <a href="#">General Releases</a>
    </p>
    <p>
        <a href="#">All SEC Filings</a>
    </p>
    <p>
        <a href="#">Form 4 SEC Filings</a>
    </p>
</div>
