<div class="row column">

    <h1>Stock Information</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <div class="stock-block">
        <span class="stock-block__title">Stock Quote (RPXC)</span>
        <span class="stock-block__price"><strong>10.57</strong>  +0.09  (+0.859%)</span>
        <span class="stock-block__date">4:00 PM ET on Sep 2, 2016</span>
    </div>

</div>

<div class="row column">
    <table>
        <tr>
            <td width="200px;">Day High</td>
            <td>10.76</td>
        </tr>
        <tr>
            <td>Day Low</td>
            <td>10.49</td>
        </tr>
        <tr>
            <td>52-Week High</td>
            <td>15.41</td>
        </tr>
        <tr>
            <td>52-Week Low</td>
            <td>8.60</td>
        </tr>
        <tr>
            <td>Previous Close</td>
            <td>10.48</td>
        </tr>
        <tr>
            <td>Open</td>
            <td>10.49</td>
        </tr>
        <tr>
            <td>Volume</td>
            <td>170,832</td>
        </tr>
        <tr>
            <td>Exchange</td>
            <td>NASDAQ</td>
        </tr>
    </table>
</div>

<div class="row column">
    <h2>Stock Chart</h2>

</div>

<div class="row column">
    <div style="border: 1px dashed grey; text-align:center; padding: 20px;">
        <-- Stock chart widget here --><br />
        <-- Stock chart widget here --><br />
        <-- Stock chart widget here --><br />
        <-- Stock chart widget here --><br />
        <-- Stock chart widget here --><br />
        <-- Stock chart widget here --><br />
        <-- Stock chart widget here --><br />
        <-- Stock chart widget here --><br />
        <-- Stock chart widget here --><br />
    </div>
    <p>
        <a href="/investor-resources/email-alerts.html" class="button tertiary">Sign Up for Email Alerts</a>
    </p>
</div>

<div class="row column">
    <p class="disclaimer">
        The stock information provided is for informational purposes only and is not intended for trading purposes. The stock information is provided by eSignal, stock charts are provided by NASDAQ OMX, both third party services, and RPX Corporation does not
        maintain or provide information directly to this service. Stock information is delayed approximately 20 minutes.
    </p>

</div>
