<div class="row column">
    <h1>Terms of Use</h1>
    <p>
        Last revised: [DATE], 2016
    </p>
    <h2>1 Your Acceptance of Terms</h2>
    <h3>Welcome</h3>
    <p>
        The following Terms of Use (&ldquo;Terms&rdquo;) are between you and RPX Corporation dba RationalX Corp. (&ldquo;RationalX&rdquo;, &ldquo;we&rdquo; or &ldquo;us&rdquo;) and constitute a legal agreement that governs your use of all websites within the domain rationalx.com (the &ldquo;Site&rdquo;). Separate terms
        of service govern the use of all other RationalX websites and are available by accessing those websites. You must agree to these Terms before you can use the Site. You can agree to these Terms by: (a) accessing the Site or (b) clicking a box that
        indicates you agree to the Terms of Use, where such a box is made available to you. If you do not agree to any of the following Terms, you may not access the Site and must leave the Site.
    </p>

    <h3>Legal Authority</h3>

    <p>
        To use the Site you (a) must be of legal age to form a binding contract with RationalX, and (b) cannot be a person or entity barred from using the Site under the laws of the United States or any other applicable jurisdiction, including the country in
        which you reside, are incorporated, or from which you use the Site. By accepting these Terms you represent that you understand and agree to the foregoing.
    </p>

    <h3>Changes to Terms</h3>
    <p>
        RationalX may update or change the Terms from time to time and recommends that you review the Terms on a regular basis. You can review the most current version of the Terms at any time at <a href="http://rpxcorp.com/legal/">http://rpxcorp.com/legal/</a>.
        If RationalX makes a change to the Terms, we will post the revised Terms on our website at the address noted above. You understand and agree that your continued use of the Site after the Terms have changed constitutes your acceptance of the Terms
        as revised.
    </p>

    <h2>2 RationalX Site</h2>
    <h3>Changes to the Site</h3>
    <p>
        RationalX reserves the right to modify or discontinue the Site (or any part thereof), either temporarily or permanently, at any time or from time to time, with or without prior notice to you. Without limiting the foregoing, we may post on our website
        or via the Site notice of such changes to the Site. It is your responsibility to review our website for any such notices. You agree that RationalX shall not be liable to you or any third party for any modification or discontinuation of the Site,
        in whole or in part.
    </p>

    <h3>Limitations on Use</h3>
    <p>
        You agree to use the Site only for purposes as permitted by these Terms and in accordance with any applicable law, regulation, or generally accepted practice in the applicable jurisdiction.
    </p>

    <h2>3 RationalX Privacy Policy</h2>
    <p>
        You understand that by using the Site, you consent and agree to the collection and use of certain information about you and your use of the Site in accordance with the RationalX privacy policy. If you object to your information being used in this way,
        please do not use the Site. For more information please read our full privacy policy at <a href="http://www.rationalx.com/legal/">http://www.rationalx.com/legal/</a>
    </p>

    <h2>4 Content</h2>
    <h3>Content</h3>
    <p>
        &ldquo;Content&rdquo; means any information that may be viewed, accessed, downloaded, uploaded, posted, generated or submitted through the Site, such as data files, written text, graphics, images, sounds, videos, messages and any other like materials, including any
        information derived from any of the foregoing. &ldquo;RationalX Content&rdquo; is any Content that is provided to you by RationalX through the Site.
    </p>

    <h3>Your Use of RationalX Content</h3>
    <p>
        You are permitted to store, display, analyze, modify, reformat, and print RationalX Content only for your own internal and personal use and subject to the restrictions set forth below. You are not permitted to publish, transmit, or otherwise reproduce
        or disseminate RationalX Content, in whole or in part, in any format, to or for any third party (including, without limitation, any of your affiliates, consultants, or attorneys) without the express prior written consent of RationalX. You agree
        that you will not sell, resell, rent, lease or trade the Site (including, without limitation, the RationalX Content or any part thereof) for any purpose or distribute it over any other medium, including over any computer network or hyperlink framing.
        In addition, you are not permitted to alter, obscure, or remove any copyright, trademark or any other notices that are provided to you in connection with RationalX Content.
    </p>
    <p>
        YOU AGREE NOT TO USE, TRANSFER, DISTRIBUTE, OR DISPOSE OF ANY INFORMATION CONTAINED IN THE SITE IN ANY MANNER THAT COULD COMPETE WITH THE SITE. YOU MAY NOT COPY, REPRODUCE, RECOMPILE, DECOMPILE, DISASSEMBLE, REVERSE ENGINEER, DISTRIBUTE, PUBLISH, DISPLAY,
        PERFORM, MODIFY, UPLOAD TO, CREATE DERIVATIVE WORKS FROM, TRANSMIT, OR IN ANY WAY EXPLOIT ANY PART OF THE SITE, EXCEPT AS EXPRESSLY PERMITTED IN THESE TERMS. YOU MAY NOT RECIRCULATE, REDISTRIBUTE OR PUBLISH THE ANALYSIS AND PRESENTATION INCLUDED
        IN THE SITE WITHOUT RATIONALX’S PRIOR WRITTEN CONSENT.
    </p>
    <h2>RationalX Proprietary Rights</h2>
    <p>
        You acknowledge and agree that RationalX and/or its licensors own all legal right, title and interest in and to the Site, including any and all intellectual property rights that exist therein, whether registered or not, and wherever in the world they may exist. You further agree that the Site (including the RationalX Content) contains proprietary and confidential information that is protected by applicable intellectual property and other laws. These Terms are not intended to, and will not, transfer or grant any rights in or to the RationalX Content other than those which are specifically described herein, and all rights not expressly granted herein are reserved by RationalX and/or its licensors.
    </p>

    <h2>5 Trademark Information</h2>
    <p>
        Inventus Solutions, Inc., the Inventus logo, RationalX, the Rational X logo, RPX, the RPX logo and other RationalX trademarks, service marks, graphics, and logos used in connection with the Site are trademarks or registered trademarks of RationalX in the US and/or other countries. Other trademarks, service marks, graphics, and logos used in connection with the Site may be the trademarks of their respective owners. You are granted no right or license under these Terms in any trademarks, and you further agree that you shall not remove, obscure, or alter any proprietary notices (including trademark and copyright notices) that may be affixed to or contained within the Site.
    </p>

    <h2>6 Links and Third Party Materials</h2>
    <p>
        Certain Content or other features of the Site may include materials from third parties and/or links to certain third party websites. Because RationalX may have no control over such third party materials and/or websites, you acknowledge and agree that RationalX is not responsible for the availability of such materials and websites, and does not endorse or warrant the accuracy of any such materials and sites, and shall in no way be liable or responsible for any information, advertising, products or materials on or available from such materials or sites.
    </p>

    <h2>7 Governing Law</h2>
    <p>
        These Terms and the relationship between you and RationalX shall be governed by the laws of the State of Delaware, excluding its conflicts of law provisions. You agree to submit to the personal and exclusive jurisdiction of the federal and state courts located within the City and County of San Francisco, California, to resolve any dispute or claim arising from these Terms.
    </p>
    <h2>8 General</h2>
    <p>
        These Terms constitute the entire agreement between you and RationalX, govern your use of the Site and completely replace any prior agreements between you and RationalX in relation to the Site. You may also be subject to additional terms and conditions that may apply when you use affiliate services, third-party content, or third-party software. If any part of these Terms is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect. You may not assign your rights or obligations hereunder, by operation of law or otherwise. RationalX may freely assign its rights and obligations hereunder. The failure of RationalX to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision. These Terms will survive notwithstanding any termination of your access to all or any portion of the Site. You agree that, except as otherwise expressly provided in these Terms, there shall be no third-party beneficiaries to this agreement. No agency, partnership, joint venture, or employee-employer relationship is intended or created by these Terms. Any translation of these Terms is done for local requirements and in the event of a dispute between the English and any non-English versions, the English version of these Terms shall govern. You agree that any claim or cause of action arising out of or related to these Terms or the use of the Site must be filed within one (1) year after the cause of action arose or be forever barred, except as otherwise required under applicable law. </p>
    <p>
        &copy; Copyright 2016 RPX Corporation. All rights reserved.
    </p>

</div>
