<footer class="footer-bg-wrap">
    <div class="footer-container row">
        <div class="small-12 large-3 columns footer__ticker-container">
            <div class="row columns footer__ticker">
                <h5>NASDAQ: RPXC</h5>
                <div class="row">
                    <div class="small-5 columns">
                        <strong>Sept 1</strong><br />
                        <strong>2016</strong><br />
                        4:02&nbsp;pm
                    </div>
                    <div class="small-7 columns footer__nums">
                        <strong>$25.74</strong><br />
                        <strong>-0.37</strong><br />
                        Volume: 267,202
                    </div>
                </div>
                <p class="footer__info">
                    Quotes delayed at least 20 minutes. Information provided by eSignol.
                </p>
            </div>
        </div>
        <div class="small-12 large-9 columns">
            <div class="row">
                <div class="small-12 medium-3 columns">
                    <img data-interchange="[{{root}}assets/img/RationalX_logo.png, small], [{{root}}assets/img/RationalX_logo@2x.png, retina]" src="{{root}}assets/img/RationalX_logo.png" height="23" width="126" alt="Rational X Logo" class="footer__logo" />
                </div>
                <ul class="small-4 medium-3 columns footer__nav">
                    <li>Services</li>
                    <li><a href="/investor-resources/investor-information-request.html">Investor Resources</a></li>
                    <li><a href="/stock-information.html">Stock Information</a></li>
                    <li><a href="/financials/quarterly-results.html">Financials</a></li>
                    <li><a href="/news-and-events/financial-releases.html">News &amp; Events</a></li>
                </ul>
                <ul class="small-4 medium-3 columns footer__nav">
                    <li>Company</li>
                    <li><a href="/operating-units.html">Operating Units</a></li>
                    <li><a href="/corporate-governance.html">Governance</a></li>
                </ul>
                <ul class="small-4 medium-3 columns footer__nav">
                    <li>Contact &amp; More</li>
                    <li><a href="/contact-us.html">Contact Us</a></li>
                    <li><a href="/terms-of-service.html">Terms of Service</a></li>
                    <li><a href="/privacy-policy.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="small-12 columns footer__copyright">
                    &copy; 2008<script>new Date().getFullYear()>2008&&document.write("-"+new Date().getFullYear());</script>, Company. RPX Corporation. All rights reserved
                </div>
            </div>
        </div>
    </div>
</footer>
