<header data-sticky-container>
    <div class="sticky-wrapper" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="row top-bar">
            <button type="button" class="off-canvas-button hide-for-large" data-toggle="offCanvas"></button>
            <div  class="top-bar-right">
                <a href="http://rpxcorp.com/" target="_blank" class="top-bar_rpx-link">RPX&nbsp;Corporation</a>
                <a href="http://inventus.com/" target="_blank" class="top-bar_inventus-link">Inventus&nbsp;Solutions,&nbsp;Inc.</a>
            </div>
        </div>
        <div class="logo-container">
            <div class="row column">
                <a href="/">
                    <img src="{{root}}assets/img/header-logo@2x.png" height="53" width="172" alt="Rational X Logo" />
                </a>
            </div>
        </div>

        {{> nav-desktop}}

    </div>
</header>
