<!-- Close button -->
<button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
</button>

<!-- Menu -->
<ul class="vertical menu">
    {{> nav-links}}
</ul>
