<div class="main-navigation show-for-large">
    <div class="row">
        <div class="small-up-11 columns end">
            <ul class="dropdown menu" data-dropdown-menu>
                {{> nav-links}}
            </ul>
        </div>
    </div>
</div>
