<div class="row columns shareholder-tools">
    <strong>Shareholder Tools</strong>
    <ul class="row small-up-4 large-up-8 collapse">
        <li class="columns">
            <a href="/briefcase.html" class="shareholder-tools__briefcase"><span>Shareholder Briefcase</span></a>
        </li>
        <li class="columns">
            <a href="/investor-resources/investor-information-request.html" class="shareholder-tools__printed-materials"><span>Request Printed Materials</span></a>
        </li>
        <li class="columns">
            <a href="/investor-resources/email-alerts.html" class="shareholder-tools__email-alerts"><span>Request Email Alerts</span></a>
        </li>
        <li class="columns">
            <a href="downloads.html" class="shareholder-tools__download"><span>Download Library</span></a>
        </li>
            <li class="columns">
            <a href="http://apps2.shareholder.com/tearsheet/generate.aspx?id=231380&CompanyID=ABEA-5XYKB4&s=2232560488" target="_blank" class="shareholder-tools__graph"><span>Company Snapshot</span></a>
        </li>
        <li class="columns">
            <a href="/rss.html" class="shareholder-tools__rss"><span>RSS News Feed</span></a>
        </li>
        <li class="columns">
            <a data-toggle="shareholder-content__social" href="#" class="shareholder-tools__social"><span>Share This Page</span></a>
        </li>
        <li class="columns">
            <a data-toggle="shareholder-content__search" href="#" class="shareholder-tools__search"><span>Search Investor Site</span></a>
        </li>
    </ul>
</div>
<div class="row column shareholder-content__social" id="shareholder-content__social" data-toggler data-closable data-animate="fade-in fade-out">
    <div class="shareholder-content">

        <a href="" class="social-icon social-icon__facebook">Share on Facebook</a>
        <a href="" class="social-icon social-icon__google">Share on Google</a>
        <a href="" class="social-icon social-icon__linkedin">Share on Linkedin</a>
        <a href="" class="social-icon social-icon__twitter">Share on Twitter</a>
        <a href="" class="social-icon social-icon__email">Share by email</a>
        <a href="" class="social-icon social-icon__rss">RSS</a>

        <button class="close-button" data-close>&times;</button>
    </div>
</div>
<div class="row column shareholder-content__search" id="shareholder-content__search" data-toggler data-closable data-animate="fade-in fade-out">
    <div class="shareholder-content">
        <input type="text" placeholder="Search Investors" />
        <button class="close-button" data-close>&times;</button>
    </div>
</div>
