<div class="row column">

    <h1>Stock Information</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h2>Historic Stock Lookup</h2>

    <table class="table--historic-lookup">
        <tr class="hide-for-small-only">
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
        <tr>
            <td data-before="date">Aug 29, 2016</td>
            <td data-before="open">10.48</td>
            <td data-before="high">10.60</td>
            <td data-before="low">10.48</td>
            <td data-before="close">0.49</td>
            <td data-before="volume">176,753</td>
        </tr>
        <tr>
            <td data-before="date">Aug 28, 2016</td>
            <td data-before="open">10.48</td>
            <td data-before="high">10.60</td>
            <td data-before="low">10.48</td>
            <td data-before="close">0.49</td>
            <td data-before="volume">176,753</td>
        </tr>
        <tr>
            <td data-before="date">Aug 28, 2016</td>
            <td data-before="open">10.48</td>
            <td data-before="high">10.60</td>
            <td data-before="low">10.48</td>
            <td data-before="close">0.49</td>
            <td data-before="volume">176,753</td>
        </tr>
    </table>

    <form class="form--inline">
        <input type="date" placeholder="100" min="0"/>
        <input type="submit" class="button"  />
    </form>

</div>

<div class="row column">
    <h2>Year End Stock Prices</h2>

    <div style="border: 1px dashed grey; text-align:center; padding: 20px;">
        <-- Year end stock chart widget here --><br />
        <-- Year end stock chart widget here --><br />
        <-- Year end stock chart widget here --><br />
        <-- Year end stock chart widget here --><br />
        <-- Year end stock chart widget here --><br />
        <-- Year end stock chart widget here --><br />
        <-- Year end stock chart widget here --><br />
        <-- Year end stock chart widget here --><br />
        <-- Year end stock chart widget here --><br />
    </div>
</div>
<div class="row column">
    <p class="disclaimer">
        The historical stock information provided is for informational purposes only and is not intended for trading purposes. The historical stock information is provided by Mergent, a third party service, and Presbia PLC does not maintain or provide information directly to this service. Prices display split-adjusted cost basis per share on that date.
    </p>
</div>
