<div class="row column">

    <h1>Stock Information</h1>

    <p class="descriptor">The information below pertains to RPX Corporation (NASDAQ: RPXC).</p>

    <h2>Investment Calculator</h2>

    <form class="investment-calculator form--inline">

        I invested
        <input type="number" placeholder="100" min="0"/>
        <select>
            <option value="">Shares</option>
            <option value="">Dollars (USD)</option>
        </select>
        on
        <input type="date" />
        <input type="submit" class="button" />
    </form>

    <p>
        Calculate Current Value and Shares Since: May 4, 2011
    </p>

    <table class="table--investment-calculator">
        <tr>
            <th>Investment Date</th>
            <th>May 4, 2011</th>
        </tr>
        <tr>
            <td>Original Shares</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Original Value</td>
            <td>2,388.00</td>
        </tr>
        <tr>
            <td>Current Shares</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Current Value</td>
            <td>1,048.00</td>
        </tr>
        <tr>
            <td>Percent Return</td>
            <td>-56.11%</td>
        </tr>
    </table>
</div>
<div class="row column">

    <div style="border: 1px dashed grey; text-align:center; padding: 20px;">
        <-- Stock history graph chart widget here --><br />
        <-- Stock history graph chart widget here --><br />
        <-- Stock history graph chart widget here --><br />
        <-- Stock history graph chart widget here --><br />
        <-- Stock history graph chart widget here --><br />
        <-- Stock history graph chart widget here --><br />
        <-- Stock history graph chart widget here --><br />
        <-- Stock history graph chart widget here --><br />
        <-- Stock history graph chart widget here --><br />
    </div>

</div>

<div class="row column">

    <p class="disclaimer">
        <strong>Adjustments:</strong> There are no adjustments for your investment.
    </p>

    <p class="disclaimer">
        The Investment Calculator page and related information is provided by Mergent, a third party service. RationalX Corp does not maintain this page and is not responsible for the accuracy, completeness or timeliness of the information. The results are for
        illustrative purposes only and should not be relied on for investment purposes. The timing and price of dividend reinvestments, taxes, commissions and other factors may affect the values shown. Please note that historical investment performance
        is not intended to indicate future performance.
    </p>
</div>
