{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rational X</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

</head>

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

                {{> nav-mobile }}

            </div>

            <div class="off-canvas-content" data-off-canvas-content>

                {{> header }}

                <div class="main-container">
                    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}
                </div>

                {{> shareholder-tools }}

                {{> footer }}

            </div>
        </div>
    </div>
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
